
/*Elements: */
body {
    background-color: #323546;
    margin: 0;
}

p {
    font-size: 1.3em;
    margin-top: -3%;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
}

nav > a {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    float: left;
    padding: 15px 10px;
    border-right: #FFFFFF solid 2px;
    text-decoration: none;
}

nav > a:hover {
    animation: hover-header 250ms;
    animation-fill-mode: forwards;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

/*Classes: */
.main-content {
    min-width: 640px;
    max-width: 1000px;
    background-color: #D2D9E4;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 20px 4px black;
}

.bg-header {
    z-index: -1; /*Render under main-content*/
    width: 100vw;
    height: 48px;
    background-color: #1b1816;
    position: absolute;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 20px 4px black;
}

.bg-footer {
    z-index: 1; /*Render under main-content*/
    min-width: 640px;
    max-width: 100vw;
    width: 100%;
    height: 184px;
    background-color: #1b1816;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px 4px black;
}

.fg-header {
    z-index: 2; /*Render on top of main-content*/
    width: 100%;
    height: 48px;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #302b27;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 4px black;

}

.fg-footer {
    z-index: 2; /*Render on top of main-content*/
    min-width: 640px;
    max-width: 1000px;
    width: 1000px;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #302b27;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px 4px black;
}



/*Elements with this class should have a 12% gap on each side of the main content*/
.indent-one {
    margin: 0 auto;
    width: 76%;
}
/*5% smaller than indent-one class*/
.indent-two {
    margin: 0 auto;
    width: 90%;
}

.project-tab {
    margin: -25px auto 15px;
    width: 100%;
    height: 36px;
    background-color: #E5E5E5;
    border-style: solid;
    border-color: #E5E5E5;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.project-tab:hover {
    animation: hover-project-tab 250ms;
    animation-fill-mode: forwards;
    box-shadow: 0 0 6px black;
}

.project-tab-text {
    padding-left: 10px;
    margin: auto;
    display: inline-block;
    vertical-align: sub;
}

.project-tab-carrot {
    padding-left: 15px;
    width: 12px;
    height: 12px;
    transition: transform 250ms;
}

.project-tab-carrot-down {
    transform: rotate(90deg);
}



.accord-container {
    padding-top: 25px;
    transition: height 250ms, opacity 250ms;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.accord-hide {
    height: 0;
    opacity: 0;
}
.accord-show {
    height: 500px;
    opacity: 100%;
}

/*The container for images*/
.image-carousel {
    display: flex;
    justify-content: center;
    position: relative;
}

/*For each image in the carousel*/
.carousel-image {
    transition: visibility 250ms, opacity 250ms;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    width: 300px;
    height: 250px;
}

/*Used to properly space previous and next arrows, since images are absolute.*/
.dummy-image {
    display: block;
    width: 300px;
    height: 250px;
}

/*Should only be on one image at a time*/
.image-current {
    opacity: 100%;
}

.image-hidden {
    opacity: 0%;
    visibility: collapse;
}

.image-button {
    width: 72px;
    height: 72px;
    display: flex;
    align-self: center;
    border-style: none;
    background-color: transparent;
}

.image-prev {
    transform: rotate(180deg);
    transition: translate 250ms;
}

.image-prev:hover {
    translate: -10px;
}

.image-prev:active {
    translate: 0;
}

.image-next {
    transition: translate 250ms;
}

.image-next:hover {
    translate: 10px;
}

.image-next:active {
    translate: 0;
}

.footer-flex-break {
    height: 0px;
    color: white;
    width: 250px;
    border-top-style: solid;
    border-top-width: 3px;
    display: flex;
}


/*IDs:*/
#first-header-offset {
    padding-top: 80px;
    margin: auto 0 3% 0;
}

#headshot {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    box-shadow: 8px 8px 30px 0 black;
}

#debug {
    background-color: red;
    width: 100vw;
    height: 3px;
}

#footer-title {
    color: white;
    display: flex;
    justify-content: center;
    border-bottom-width: 2px;
    border-bottom: white;
}

#fg-footer-icon-container {
    display: flex;
    flex-direction: row;
}

#fg-footer-icon-container > a {
    width: 48px;
    height: 48px;
    margin: 20px;
    -webkit-filter: invert(100%);
}

#fg-footer-icon-container > a:hover {
    animation: hover-footer 250ms;
    animation-fill-mode: forwards;
}


/*Animations: */
@keyframes hover-header {
    0% {
        background-color: #302b27;
    }

    100% {
        background-color: #93908D;
    }
}

@keyframes hover-project-tab {
    0% {
        background-color: #E5E5E5;
        border-color: #E5E5E5;
    }
    100% {
        background-color: #EEEEEE;
        border-color: #EEEEEE;
    }
}

@keyframes hover-footer {
    0% {
        -webkit-filter: invert(100%);
    }

    100% {
        -webkit-filter: invert(70%);
    }
}